<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul class="alert alert-danger">
      <h6 class="alert-heading">
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase)
         %>
      </h6>
      <% resource.errors.full_messages.each do |message| %>
        <li class="ml-2"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
