<%= render "users/profile", user: @user %>
<h2>ユーザ一覧</h2>
<% @users.each do |user| %>
  <p><%= attachment_image_tag user, :icon_image, fallback: "def_user.png", size: "80x80" %></p>
  <p><%= user.name %></p>
  <p><%= link_to "見る", user_path(user) %></p>
<% end %>